@import url("https://fonts.googleapis.com/css?family=Marcellus");
@import url("https://fonts.googleapis.com/css?family=Radley");
h1, h2, h4 {
  font-family: "Marcellus", serif;
  text-align: center; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.7em;
  font-family: "Radley", serif; }

p, button {
  font-size: 1.2em;
  font-family: "Radley", serif; }

button {
  outline: none;
  border: none;
  margin: 10px;
  padding: 10px;
  min-width: 200px; }

.categories {
  margin: auto 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  allign-items: center; }

.categories button {
  font-size: 1.2em;
  text-transform: capitalize;
  cursor: pointer; }

.categories button:hover {
  opacity: 0.7; }

.question-header {
  height: 75px;
  padding: 15px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: "current   category    quit" "score   highscore   quit"; }

.question-header .quit {
  grid-area: quit;
  margin: 0;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer; }

.question-header .quit:hover {
  background-color: rgba(0, 0, 0, 0.2); }

.question-header .category {
  grid-area: category; }

.question-header .highscore {
  grid-area: highscore;
  text-align: center; }

.question-header .current {
  grid-area: current;
  align-self: end; }

.question-header .score {
  grid-area: score; }

.question-header p, .question-header h2 {
  margin: 0;
  text-transform: capitalize; }

.question {
  text-align: center;
  margin-top: 80px; }

.question button {
  display: block;
  margin: 10px auto;
  padding: 15px;
  min-width: 350px;
  cursor: pointer; }

.question button:hover {
  background-color: #cecece; }

.question-enter {
  transform: translateX(120%) scale(0.2);
  transition: all .8s; }

.question-enter-active {
  transform: translateX(0) scale(1); }

.question-exit {
  transition: all .8s;
  transform: translateX(0);
  position: absolute;
  width: 100%;
  top: 180px; }

.question-exit-active {
  transform: translateX(-120%) scale(0.2); }

.correct {
  background-color: green; }

.wrong {
  background-color: red; }

.finished {
  text-align: center; }

.finished h3, .finished p {
  transform: scale(2);
  margin: 50px; }
