
.categories{
  margin:auto 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  allign-items: center;
}
.categories button{
  font-size:1.2em;
  text-transform: capitalize;
  cursor: pointer;
  min-width: 200px;
}
.categories button:hover{
  opacity: 0.7
}


.question-header{
  height: 75px;
  padding: 15px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas:
    "current   category    quit"
    "score   highscore   quit"
}
.question-header .quit{
  grid-area: quit;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.15)
}
.question-header .category{
  grid-area: category;
}
.question-header .highscore{
  grid-area: highscore;
  text-align: center;
}
.question-header .current{
  grid-area: current;
  align-self: end;
}
.question-header .score{
  grid-area: score;
}
.question-header p, .question-header h2{
  margin: 0;
  text-transform: capitalize;
}

.question{
  text-align: center;
  margin-top: 80px;
}

.question-enter{
  transform: translateX(120%) scale(0.2);
  transition: all .8s;
}

.question-enter-active{
  transform: translateX(0) scale(1);
}

.question-exit{
  transition: all .8s;
  transform: translateX(0);
  position: absolute;
  width: 100%;
  top:180px;
}

.question-exit-active{
  transform: translateX(-120%) scale(0.2);
}

.correct{
  background-color: blue;
}

.wrong{
  background-color: red;
}


h2{
  text-align: center;
  font-size: 1.8em;
}

button{
  outline: none;
  border: none;
  margin: 10px;
  padding: 10px;
  
}
